.App {
  text-align: center;
  color: white;
}

.stock-card {
  padding-top: 20px;
  border: 1px solid #4c79f2;
}

.card-wrapper {
  padding-top: 30px;
}

.price {
  color: #11c511;
}

.card {
  background-color: black !important;
}

.btn-more {
  width: 100%;
  color: white !important;
  background-color: #4c79f2 !important;
  opacity: 60%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 15px;
}

.navbar-custom {
  background-color: black !important;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
